alias zshconf="vi ~/.zshrc"
alias tmuxconf="vi ~/.config/tmux/tmux.conf"

alias mountshare="sudo mount -t vboxsf Public /home/kali/Public"

alias vpnhtblab="sudo openvpn --config /home/kali/lab.ovpn"

function apt-updater {
	apt update &&
	apt dist-upgrade -Vy &&
	apt autoremove -y &&
	apt autoclean &&
	apt clean 
	}
